In [ ]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
from keras import layers
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
df=pd.read_csv('/gdrive/MyDrive/Risk Prediction/Dataset/Mortality_incidence_sociodemographic_and_clinical_data_in_COVID19_patients.csv')
df.head(5)

,Derivation cohort,LOS_Y,LOS,Death,Age,Severity,Black,White,Asian,Latino,...,Ferritin > 300,CrctProtYes,CrctProtein,C-Reactive Prot > 10,ProCalCYes,Procalcitonin,Procalciton > 0.1,TropYes,Troponin,Troponin > 0.1
0,1,1,1,0,>80,3,0,0,0,0,...,0,1,0.4999,0,0,0.0,0,1,0.01,0
1,1,1,2,1,>60,7,0,1,0,0,...,1,1,14.9000,1,1,0.6,1,1,1.20,1
2,1,1,2,1,>80,7,0,1,0,0,...,1,1,33.9000,1,1,1.2,1,0,0.00,0
3,1,1,15,0,>70,9,1,0,0,0,...,1,1,18.4000,1,1,7.3,1,1,0.05,0
4,1,1,9,0,>70,7,1,0,0,0,...,1,1,11.6000,1,0,0.0,0,1,0.01,0

In [ ]:
reconstructeddataframe=pd.DataFrame()

In [ ]:
reconstructeddataframe.shape

(0, 0)

In [ ]:
df.shape

(4711, 85)

In [ ]:
df=df.drop('Age',axis=1)

In [ ]:
df.shape

(4711, 84)

In [ ]:
X=df.loc[df['Death']==1]
X.head(5)

,Derivation cohort,LOS_Y,LOS,Death,Severity,Black,White,Asian,Latino,MI,...,Ferritin > 300,CrctProtYes,CrctProtein,C-Reactive Prot > 10,ProCalCYes,Procalcitonin,Procalciton > 0.1,TropYes,Troponin,Troponin > 0.1
1,1,1,2,1,7,0,1,0,0,0,...,1,1,14.9,1,1,0.6,1,1,1.20,1
2,1,1,2,1,7,0,1,0,0,0,...,1,1,33.9,1,1,1.2,1,0,0.00,0
5,1,1,14,1,5,0,1,0,0,0,...,0,1,5.5,0,1,2.1,1,1,0.01,0
10,1,1,6,1,5,0,1,0,0,0,...,0,1,12.7,1,1,0.1,0,1,0.01,0
11,1,1,6,1,7,1,0,0,0,0,...,1,1,28.6,1,1,0.4,1,1,0.04,0

In [ ]:
X.shape

(1148, 84)

In [ ]:
df.shape

(4711, 84)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(X, test_size=0.2, random_state=20)

In [ ]:
X=np.asarray(X).astype('float32')

In [ ]:
input_size = 84
hidden_size = 128
code_size = 60
input_img = keras.Input(shape=(input_size,))
hidden_1 = keras.layers.Dense(hidden_size, activation='relu')(input_img)
code = keras.layers.Dense(code_size, activation='relu')(hidden_1)
hidden_2 = keras.layers.Dense(hidden_size, activation='relu')(code)
output_img = keras.layers.Dense(input_size, activation='sigmoid')(hidden_2)

autoencoder = keras.Model(input_img, output_img)
#autoencoder.compile(optimizer='adam', loss='binary_crossentropy')
#autoencoder.fit(x_train, x_train, epochs=5)

In [ ]:
autoencoder.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 84)]              0

 dense_4 (Dense)             (None, 128)               10880

 dense_5 (Dense)             (None, 60)                7740

 dense_6 (Dense)             (None, 128)               7808

 dense_7 (Dense)             (None, 84)                10836

=================================================================
Total params: 37,264
Trainable params: 37,264
Non-trainable params: 0
_________________________________________________________________

In [ ]:
autoencoder.compile(optimizer='adam', loss='binary_crossentropy')

In [ ]:
autoencoder.fit(X_train, X_train, epochs=100)

Epoch 1/100
29/29 [==============================] - 0s 3ms/step - loss: -65337.1289
Epoch 2/100
29/29 [==============================] - 0s 3ms/step - loss: -363706.8125
Epoch 3/100
29/29 [==============================] - 0s 3ms/step - loss: -1866457.2500
Epoch 4/100
29/29 [==============================] - 0s 3ms/step - loss: -6487155.0000
Epoch 5/100
29/29 [==============================] - 0s 3ms/step - loss: -22071536.0000
Epoch 6/100
29/29 [==============================] - 0s 3ms/step - loss: -74276008.0000
Epoch 7/100
29/29 [==============================] - 0s 3ms/step - loss: -186932432.0000
Epoch 8/100
29/29 [==============================] - 0s 3ms/step - loss: -421535968.0000
Epoch 9/100
29/29 [==============================] - 0s 3ms/step - loss: -806791168.0000
Epoch 10/100
29/29 [==============================] - 0s 3ms/step - loss: -1399184256.0000
Epoch 11/100
29/29 [==============================] - 0s 3ms/step - loss: -2312466176.0000
Epoch 12/100
29/29 [==============================] - 0s 3ms/step - loss: -3652256256.0000
Epoch 13/100
29/29 [==============================] - 0s 3ms/step - loss: -5418250752.0000
Epoch 14/100
29/29 [==============================] - 0s 3ms/step - loss: -7592376832.0000
Epoch 15/100
29/29 [==============================] - 0s 3ms/step - loss: -10689146880.0000
Epoch 16/100
29/29 [==============================] - 0s 3ms/step - loss: -14606477312.0000
Epoch 17/100
29/29 [==============================] - 0s 3ms/step - loss: -19387219968.0000
Epoch 18/100
29/29 [==============================] - 0s 3ms/step - loss: -24672663552.0000
Epoch 19/100
29/29 [==============================] - 0s 3ms/step - loss: -31847632896.0000
Epoch 20/100
29/29 [==============================] - 0s 3ms/step - loss: -38984187904.0000
Epoch 21/100
29/29 [==============================] - 0s 3ms/step - loss: -47923097600.0000
Epoch 22/100
29/29 [==============================] - 0s 3ms/step - loss: -59869933568.0000
Epoch 23/100
29/29 [==============================] - 0s 3ms/step - loss: -71617691648.0000
Epoch 24/100
29/29 [==============================] - 0s 3ms/step - loss: -86594019328.0000
Epoch 25/100
29/29 [==============================] - 0s 3ms/step - loss: -103275470848.0000
Epoch 26/100
29/29 [==============================] - 0s 3ms/step - loss: -122309230592.0000
Epoch 27/100
29/29 [==============================] - 0s 3ms/step - loss: -144576413696.0000
Epoch 28/100
29/29 [==============================] - 0s 3ms/step - loss: -167035076608.0000
Epoch 29/100
29/29 [==============================] - 0s 3ms/step - loss: -196259020800.0000
Epoch 30/100
29/29 [==============================] - 0s 3ms/step - loss: -224308805632.0000
Epoch 31/100
29/29 [==============================] - 0s 3ms/step - loss: -259441950720.0000
Epoch 32/100
29/29 [==============================] - 0s 3ms/step - loss: -292996874240.0000
Epoch 33/100
29/29 [==============================] - 0s 3ms/step - loss: -335974563840.0000
Epoch 34/100
29/29 [==============================] - 0s 3ms/step - loss: -379142012928.0000
Epoch 35/100
29/29 [==============================] - 0s 3ms/step - loss: -427665424384.0000
Epoch 36/100
29/29 [==============================] - 0s 3ms/step - loss: -475767734272.0000
Epoch 37/100
29/29 [==============================] - 0s 3ms/step - loss: -532891369472.0000
Epoch 38/100
29/29 [==============================] - 0s 3ms/step - loss: -590682980352.0000
Epoch 39/100
29/29 [==============================] - 0s 3ms/step - loss: -654664859648.0000
Epoch 40/100
29/29 [==============================] - 0s 3ms/step - loss: -722783371264.0000
Epoch 41/100
29/29 [==============================] - 0s 3ms/step - loss: -793180372992.0000
Epoch 42/100
29/29 [==============================] - 0s 3ms/step - loss: -866636988416.0000
Epoch 43/100
29/29 [==============================] - 0s 3ms/step - loss: -957091348480.0000
Epoch 44/100
29/29 [==============================] - 0s 3ms/step - loss: -1045094334464.0000
Epoch 45/100
29/29 [==============================] - 0s 2ms/step - loss: -1134045298688.0000
Epoch 46/100
29/29 [==============================] - 0s 3ms/step - loss: -1233042931712.0000
Epoch 47/100
29/29 [==============================] - 0s 3ms/step - loss: -1334213607424.0000
Epoch 48/100
29/29 [==============================] - 0s 3ms/step - loss: -1448331313152.0000
Epoch 49/100
29/29 [==============================] - 0s 3ms/step - loss: -1563204517888.0000
Epoch 50/100
29/29 [==============================] - 0s 3ms/step - loss: -1669695012864.0000
Epoch 51/100
29/29 [==============================] - 0s 3ms/step - loss: -1808871849984.0000
Epoch 52/100
29/29 [==============================] - 0s 3ms/step - loss: -1948656336896.0000
Epoch 53/100
29/29 [==============================] - 0s 3ms/step - loss: -2086846332928.0000
Epoch 54/100
29/29 [==============================] - 0s 3ms/step - loss: -2228635041792.0000
Epoch 55/100
29/29 [==============================] - 0s 3ms/step - loss: -2401791377408.0000
Epoch 56/100
29/29 [==============================] - 0s 3ms/step - loss: -2559699320832.0000
Epoch 57/100
29/29 [==============================] - 0s 3ms/step - loss: -2730405396480.0000
Epoch 58/100
29/29 [==============================] - 0s 3ms/step - loss: -2919743619072.0000
Epoch 59/100
29/29 [==============================] - 0s 3ms/step - loss: -3097787891712.0000
Epoch 60/100
29/29 [==============================] - 0s 3ms/step - loss: -3304000847872.0000
Epoch 61/100
29/29 [==============================] - 0s 3ms/step - loss: -3507407552512.0000
Epoch 62/100
29/29 [==============================] - 0s 3ms/step - loss: -3700046692352.0000
Epoch 63/100
29/29 [==============================] - 0s 3ms/step - loss: -3923230588928.0000
Epoch 64/100
29/29 [==============================] - 0s 3ms/step - loss: -4167165804544.0000
Epoch 65/100
29/29 [==============================] - 0s 3ms/step - loss: -4408226086912.0000
Epoch 66/100
29/29 [==============================] - 0s 3ms/step - loss: -4650114744320.0000
Epoch 67/100
29/29 [==============================] - 0s 3ms/step - loss: -4912365699072.0000
Epoch 68/100
29/29 [==============================] - 0s 3ms/step - loss: -5153341571072.0000
Epoch 69/100
29/29 [==============================] - 0s 3ms/step - loss: -5437925621760.0000
Epoch 70/100
29/29 [==============================] - 0s 3ms/step - loss: -5697492746240.0000
Epoch 71/100
29/29 [==============================] - 0s 3ms/step - loss: -6009424707584.0000
Epoch 72/100
29/29 [==============================] - 0s 3ms/step - loss: -6296260050944.0000
Epoch 73/100
29/29 [==============================] - 0s 3ms/step - loss: -6595605954560.0000
Epoch 74/100
29/29 [==============================] - 0s 3ms/step - loss: -6926347796480.0000
Epoch 75/100
29/29 [==============================] - 0s 3ms/step - loss: -7271370194944.0000
Epoch 76/100
29/29 [==============================] - 0s 3ms/step - loss: -7567191310336.0000
Epoch 77/100
29/29 [==============================] - 0s 3ms/step - loss: -7964878438400.0000
Epoch 78/100
29/29 [==============================] - 0s 3ms/step - loss: -8281153601536.0000
Epoch 79/100
29/29 [==============================] - 0s 3ms/step - loss: -8659849445376.0000
Epoch 80/100
29/29 [==============================] - 0s 3ms/step - loss: -9046297935872.0000
Epoch 81/100
29/29 [==============================] - 0s 3ms/step - loss: -9377135198208.0000
Epoch 82/100
29/29 [==============================] - 0s 3ms/step - loss: -9799901118464.0000
Epoch 83/100
29/29 [==============================] - 0s 3ms/step - loss: -10197569372160.0000
Epoch 84/100
29/29 [==============================] - 0s 3ms/step - loss: -10630154158080.0000
Epoch 85/100
29/29 [==============================] - 0s 3ms/step - loss: -11062605774848.0000
Epoch 86/100
29/29 [==============================] - 0s 3ms/step - loss: -11498957045760.0000
Epoch 87/100
29/29 [==============================] - 0s 3ms/step - loss: -11956592312320.0000
Epoch 88/100
29/29 [==============================] - 0s 3ms/step - loss: -12417722482688.0000
Epoch 89/100
29/29 [==============================] - 0s 3ms/step - loss: -12915393429504.0000
Epoch 90/100
29/29 [==============================] - 0s 3ms/step - loss: -13390462320640.0000
Epoch 91/100
29/29 [==============================] - 0s 3ms/step - loss: -13918652071936.0000
Epoch 92/100
29/29 [==============================] - 0s 3ms/step - loss: -14451495403520.0000
Epoch 93/100
29/29 [==============================] - 0s 3ms/step - loss: -14960559128576.0000
Epoch 94/100
29/29 [==============================] - 0s 3ms/step - loss: -15511811260416.0000
Epoch 95/100
29/29 [==============================] - 0s 3ms/step - loss: -16058001915904.0000
Epoch 96/100
29/29 [==============================] - 0s 3ms/step - loss: -16676374446080.0000
Epoch 97/100
29/29 [==============================] - 0s 3ms/step - loss: -17265280942080.0000
Epoch 98/100
29/29 [==============================] - 0s 3ms/step - loss: -17847809998848.0000
Epoch 99/100
29/29 [==============================] - 0s 3ms/step - loss: -18508251398144.0000
Epoch 100/100
29/29 [==============================] - 0s 3ms/step - loss: -19124314963968.0000

In [ ]:
reconstructed = autoencoder.predict(X_test)

In [ ]:
reconstructed.shape

(230, 84)

In [ ]:
reconstructed

array([[1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.]], dtype=float32)

In [ ]:
Newdata = pd.DataFrame(data=reconstructed, index=None, columns=None)

In [ ]:
Newdata

,0,1,2,3,4,5,6,7,8,9,...,74,75,76,77,78,79,80,81,82,83
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
226,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
227,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
228,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
229,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0

In [ ]:
Newdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 84 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       230 non-null    float32
 1   1       230 non-null    float32
 2   2       230 non-null    float32
 3   3       230 non-null    float32
 4   4       230 non-null    float32
 5   5       230 non-null    float32
 6   6       230 non-null    float32
 7   7       230 non-null    float32
 8   8       230 non-null    float32
 9   9       230 non-null    float32
 10  10      230 non-null    float32
 11  11      230 non-null    float32
 12  12      230 non-null    float32
 13  13      230 non-null    float32
 14  14      230 non-null    float32
 15  15      230 non-null    float32
 16  16      230 non-null    float32
 17  17      230 non-null    float32
 18  18      230 non-null    float32
 19  19      230 non-null    float32
 20  20      230 non-null    float32
 21  21      230 non-null    float32
 22  22      230 non-null    float32
 23  23      230 non-null    float32
 24  24      230 non-null    float32
 25  25      230 non-null    float32
 26  26      230 non-null    float32
 27  27      230 non-null    float32
 28  28      230 non-null    float32
 29  29      230 non-null    float32
 30  30      230 non-null    float32
 31  31      230 non-null    float32
 32  32      230 non-null    float32
 33  33      230 non-null    float32
 34  34      230 non-null    float32
 35  35      230 non-null    float32
 36  36      230 non-null    float32
 37  37      230 non-null    float32
 38  38      230 non-null    float32
 39  39      230 non-null    float32
 40  40      230 non-null    float32
 41  41      230 non-null    float32
 42  42      230 non-null    float32
 43  43      230 non-null    float32
 44  44      230 non-null    float32
 45  45      230 non-null    float32
 46  46      230 non-null    float32
 47  47      230 non-null    float32
 48  48      230 non-null    float32
 49  49      230 non-null    float32
 50  50      230 non-null    float32
 51  51      230 non-null    float32
 52  52      230 non-null    float32
 53  53      230 non-null    float32
 54  54      230 non-null    float32
 55  55      230 non-null    float32
 56  56      230 non-null    float32
 57  57      230 non-null    float32
 58  58      230 non-null    float32
 59  59      230 non-null    float32
 60  60      230 non-null    float32
 61  61      230 non-null    float32
 62  62      230 non-null    float32
 63  63      230 non-null    float32
 64  64      230 non-null    float32
 65  65      230 non-null    float32
 66  66      230 non-null    float32
 67  67      230 non-null    float32
 68  68      230 non-null    float32
 69  69      230 non-null    float32
 70  70      230 non-null    float32
 71  71      230 non-null    float32
 72  72      230 non-null    float32
 73  73      230 non-null    float32
 74  74      230 non-null    float32
 75  75      230 non-null    float32
 76  76      230 non-null    float32
 77  77      230 non-null    float32
 78  78      230 non-null    float32
 79  79      230 non-null    float32
 80  80      230 non-null    float32
 81  81      230 non-null    float32
 82  82      230 non-null    float32
 83  83      230 non-null    float32
dtypes: float32(84)
memory usage: 75.6 KB

In [ ]:
reconstructeddataframe=reconstructeddataframe.append(Newdata, ignore_index=False, verify_integrity=False, sort=None)

In [ ]:
reconstructeddataframe

,Derivation cohort,LOS_Y,LOS,Death,Severity,Black,White,Asian,Latino,MI,...,Ferritin > 300,CrctProtYes,CrctProtein,C-Reactive Prot > 10,ProCalCYes,Procalcitonin,Procalciton > 0.1,TropYes,Troponin,Troponin > 0.1
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
2,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
4,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
226,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
227,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
228,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
229,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0

In [ ]:
reconstructeddataframe.to_csv('/gdrive/MyDrive/Risk Prediction/Dataset/AEdata.csv')

In [ ]:
df.shape

(4711, 84)

In [ ]:
reconstructeddataframe.columns=df.columns

In [ ]:
reconstructeddataframe.head(100)

,Derivation cohort,LOS_Y,LOS,Death,Severity,Black,White,Asian,Latino,MI,...,Ferritin > 300,CrctProtYes,CrctProtein,C-Reactive Prot > 10,ProCalCYes,Procalcitonin,Procalciton > 0.1,TropYes,Troponin,Troponin > 0.1
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
2,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
4,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
96,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
97,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
98,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
99,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0

In [ ]:
df_combined = pd.concat([df, reconstructeddataframe], axis=0, ignore_index=True)

In [ ]:
df_combined.shape

(5631, 84)

In [ ]:
df_combined.to_csv('/gdrive/MyDrive/Risk Prediction/Dataset/AEdatasetfinal.csv')